.loading-screen {
  background-color: #000000;
  position: fixed;
  width: 100vw;
  height: 100vh;
  animation-name: loading-screen;
  animation-duration: 1500ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes loading-screen {
  0% {
    height: 100vh;
    width: 100vw;
    background-color: #000000;
    margin: 0px;
  }
  90% {
    background-color: #000000;
  }
  99% {
    height: 100vh;
    width: 100vw;
    margin: 0px;
  }
  100% {
    height: 1px;
    width: 1px;
    background-color: #b1b1b1;
    margin: -10000px;
  }
}
.uzsklandosratukas {
  background-color: rgba(0, 0, 0, 0);
  width: 14vh;
  height: 14vh;
  border: 2px solid rgb(0, 0, 0);
  border-bottom-color: rgba(255, 255, 255, 0.35);
  border-right-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  animation-name: ratukas;
  animation-duration: 1200ms;
  animation-iteration-count: infinite;
  animation-timing-function: steps(100);
}
@keyframes ratukas {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}
.uzsklandosp {
  color: azure;
  font-size: 5vh;
  font-weight: bolder;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
