.student-review-h2 {
    width: fit-content;
    font-size: 38px;
    color: black;
    color: var(--fontbig);
}
.student-slide{
  background-color: white;
  background-color: var(--colortexttab);
  border-radius: 10px;
  box-shadow: 5px 10px 20px rgba(157, 85, 224, 0.76);
  padding:2%;
}
.star-rating {
color: darkorange; /* pradine spalva */
color: var(--system2); /* pradine spalva */
}
.student-info, .student-text {
 padding-top: 4%; 
}
.student-photo > img {
  display: inline-block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 3px solid cadetblue;
  border: 3px solid var(--system1);
}
.student-stars-name {
  display: inline-block;
  padding: 5% 0% 4% 2%;
}
.student-name {
  color: darkviolet;
  font-weight: bolder;
  font-size: 20px;
}
.student-text {
  color: dimgray;
  color: var (--fontlittle);
  font-size: 20px;
}
.student-rating {
  display:inline-block;
  width: fit-content;
}
.student-rating > p {
  text-align: center;
}
.reviews-rating, .reviews-count {
  font-size: 66px;
  font-weight: bold;
  padding:15px;
}
.reviews-rating {
  color:darkorange;
  color: var(--system2);
}
.reviews-count {
  color:cadetblue;
  color: var(--system1);
}
.student-rating > :last-child {
  font-size: 24px;
}